body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF; 
    color: #333333; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.quiz-container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px; 
    text-align: center;
}

h1 {
    color: #4C68FF; 
    margin-bottom: 20px;
    border-bottom: 3px solid #4C68FF; 
    padding-bottom: 10px;
    display: inline-block;
}

#progress-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #4C68FF;
}

.question-area p {
    font-size: 1.25rem; 
    margin-bottom: 30px;
    padding: 15px;
    background-color: #2F3640; 
    color: #EFEFEF; 
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px; 
    margin-bottom: 20px;
}

.answer-btn {
    padding: 15px 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #4C68FF; 
    border-radius: 8px;
    background-color: white;
    color: #333333; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.1s; 
    outline: none; 
    text-align: left; 
}

.answer-btn:hover { 
    background-color: #DBE3FF; 
    border-color: #1A3DD0; 
    color: #1A3DD0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.answer-btn:active {
    background-color: #1A3DD0; 
    color: white;
    transform: translateY(2px); 
    box-shadow: none;
}

.answer-btn:disabled {
    background-color: #f3f3f3;
    border-color: #ccc;
    color: #6d6d6d;
    box-shadow: none;
    transform: none;
}

.answer-btn:disabled:hover {
    background-color: #f3f3f3;
    color: #6d6d6d;
    border-color: #ccc;
}

.next-btn{
    place-self: end;
    padding: 15px 10px;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #4C68FF; 
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: #ffffff; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.1s; 
    outline: none; 
    text-align: center; 
}

.next-btn:hover{
    background-color: #060b1eb9; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.next-btn:disabled{
    display: none;
}
